.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.logo {
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    padding: 0;
    margin: 3rem auto 3rem auto;
    color: #AA8E3C;
}

.title {
    grid-column: 2 / span 2;

    padding: 3rem 0 3rem 0;
    border-radius: 1rem;
}

.card {
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

h1 {
    color: #AA5A3C;
    text-align: center;
}

button {
    background-color: #2B526D;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5rem
}

a {
    background-color: #2B526D;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5rem
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1b1b1b;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: hsl(40, 80%, 90%);
        color: black;
    }

    .card, .title {
        background-color: hsl(204, 20%, 50%);
    }

}