{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FullStack</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="grid-container">
    <img src="{% static 'images/Logo.svg' %}" alt="The logo" class="logo"/>
    <h1 class="title">
        Full Stack Project
    </h1>
    <div class="buttonPanel">
        {% if user.is_authenticated %}
        <div class="loginButtonContainer">
            <a href= "{% url 'logout' %}" class="loginButton">
                Log out
            </a>
        </div>
        <div class="loginButtonContainer">
            <a href= "{% url 'profile' %}" class="loginButton">
                See Profile
            </a>
        </div>
        {% if user.is_superuser %}
        <div class="loginButtonContainer">
            <a href="{% url 'admin:index' %}" class="loginButton">
                Admin
            </a>
        </div>
        {% endif %}

        {% else %}
        <div class="loginButtonContainer">
            <a href="{% url 'login' %}" class="loginButton">
                Log in
            </a>
        </div>
        <div class="loginButtonContainer">
            <a href="{% url 'signup' %}" class="loginButton">
                Sign Up
            </a>
        </div>
        {% endif %}

    </div>
    {% for object in object_list %}
        <div class="card">
            <h2>
                {{ object.title }}
            </h2>
            <p>
                {{ object.description }}
            </p>
            <a href="{% url 'react' object.pk %}">
                Do this group
            </a>
        </div>
    {% empty %}
        <div class="card">
            <p>
                nothing found
            </p>
        </div>
    {% endfor %}
</div>
</body>
</html>